@import "~styles/colors";
@import "~styles/breakPoint";

.list {
  margin: 2rem 1rem;
  @include respond-to($tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 1rem;
  }

  @include respond-to($desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.modalBackground {
  background-color: rgba($modalColor, 0.8);
}
