@import "~styles/colors";
@import "~styles/boxShadow";
@import "~styles/breakPoint";

.container {
  @include boxShadow;
  color: $primaryColor;
  padding: 1rem;
  margin: 1.5rem auto;
  width: 100%;
  max-width: 320px;
  position: relative;

  @include respond-to($tablet) {
    margin: auto;
  }
}

.title,
.content {
  margin-bottom: 1rem;
}

.content {
  text-align: left;
  min-height: 5rem;
}

.deleteIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
