@import "~styles/colors";
@import "~styles/boxShadow";

.container {
  @include boxShadow;
  color: $primaryColor;
  padding: 1rem;
  margin: 1.5rem 0;
}

.title,
.content {
  margin-bottom: 1rem;
}

.content {
  text-align: left;
}
