@import "~styles/boxShadow";

.upload {
  display: none;
}

.info {
  margin: 0;
  word-break: break-all;
  text-align: left;
}

.info:first-child {
  margin-bottom: 0.5rem;
}

.bio {
  text-align: left;
}
