@import "~styles/colors";
@import "~styles/button";

.audioLabel {
  @include primaryButton;
  margin: 0;
}

.audio {
  display: none;
}

.loadingContainer {
  background-color: rgba($modalColor, 0.8);
}

.bottomContainer {
  margin-top: 1.5rem;
}

.uploadInfo {
  margin: 0;
}
