@import "~styles/colors";
@import "~styles/button";

.audioLabel {
  @include primaryButton;
}

.audio {
  display: none;
}

.loadingContainer {
  background-color: rgba($disabledColor, 0.5);
}

.bottomContainer {
  margin-top: 1.5rem;
}
