@import "~styles/colors";

.container {
  margin: 0 auto;
  margin-bottom: 0.7rem;
  max-width: 20rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid $darkPrimaryColor;
  width: 100%;
}

.input:focus {
  border-color: $secondaryColor;
}

.textArea {
  border: 1px solid $darkPrimaryColor;
}
