@import "~styles/colors";
@import "~styles/breakPoint";

.input {
  padding: 0.5rem;
  border: 1px solid $darkPrimaryColor;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 15rem;
  @include respond-to($largeMobile) {
    max-width: 17rem;
  }
  @include respond-to($tablet) {
    max-width: 20rem;
  }
}

.input:focus {
  border-color: $secondaryColor;
}

.textArea {
  border: 1px solid $darkPrimaryColor;
  width: 15rem;
  @include respond-to($largeMobile) {
    width: 17rem;
  }
  @include respond-to($tablet) {
    width: 20rem;
  }
}
