@import "~styles/colors";

.submitBtnContainer {
  margin: 1.5rem 0;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  color: $textColor;
  background-color: $secondaryColor;
}

.submitBtn:disabled {
  background-color: $disabledColor;
  color: $disabledText;
}
