@import "~styles/boxShadow";

.upload {
  display: none;
}

.card {
  @include boxShadow;
  padding: 1rem;
  margin: 1rem auto;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  max-width: 35rem;
}

.topContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imgContainer {
  height: 6rem;
  width: 6rem;
  padding: 0.2rem;
  flex-shrink: 0;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 1rem;
}

.info {
  margin: 0;
}

.info:first-child {
  margin-bottom: 0.5rem;
}

.bottomContainer {
  margin-top: auto;
}
