@import "~styles/constant";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  height: $navigationHeight;
}

.container::before,
.content {
  flex-grow: 1;
}

.content {
  width: 100%;
}

.topContainer {
  height: 100vh;
  padding: 1rem;
  padding-top: $navigationHeight;
  overflow: auto;
}
