.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
}

.container::before,
.content {
  flex-grow: 1;
}

.topContainer {
  height: 100vh;
  padding: 1rem;
  padding-top: 3.125rem;
  overflow: auto;
}
