@import "~styles/colors";

.container {
  position: fixed;
  width: 100vw;
  background-color: $secondaryColor;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.overlay {
  font-size: 2rem;
  margin: 1rem 0;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 2.5rem;
}
